.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.cache

.meta

*.apk

.classpath

.settings/

*.class

.log

*.ctxt

.mtj.tmp/

*.jar

*.war

*.ear

*.zip

*.tar.gz

*.rar

hs_err_pid*

Libs/TempTestCase*.groovy

Libs/TempTempCase*.groovy

Libs/TempTestSuite*.groovy

